/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****** Utility Components *****/
:root {
  font-size: 62.5%;

  /*** Colours ****/
  --color-primary: #730039;
  --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
  --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

  --color-tertiary: #ff724c;
  --color-tertiary-m-dark: rgba(255, 115, 76, 0.85);
  --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);

  --color-secondary: #ffc513;
  --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
  --color-secondary-m-dark: rgba(255, 196, 76, 0.85);

  --color-quartenary: #f6eedf;
  --color-quartenary-m-light: hsla(13, 56%, 92%, 0.55);
  --color-quartenary-m-dark: hsla(39, 56%, 92%, 0.85);

  --transition-duration: 0.3s;

  --font-size-title: calc(2rem + 2vw);
  --padding-section: 8vh 3vw;
}

/** COMMON STYLES **/
a:link,
a:visited {
  color: var(--color-quartenary);
  text-decoration: none;
  font-size: calc(0.5rem + 1vw);
  padding: 1rem 2rem;
  position: relative;
  border-radius: 0.3rem;
  z-index: 1;
  transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
}

p {
  color: white;
  font-size: calc(1rem + 1vw);
  font-weight: 200;
}

li {
  list-style: none;
  margin-bottom: 4rem;
}

i {
  font-size: var(--font-size-title);
  color: var(--color-secondary);
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content);
}

body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
  background-color: var(--color-quartenary);
  /* max-width: 1500px; */
  /* margin: 0 auto; */
}

/* header section */
header#header {
  grid-column: container-start / container-end;
  background: linear-gradient(var(--color-primary-m-light), var(--color-primary-m-light)), url("img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__main-nav input[type="checkbox"] {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}

.header__main-nav--hamburger {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--color-secondary);
  z-index: 2;
  padding: 1rem;

  display: grid;
  place-items: center;

  animation: main-nav 2s;
}

@keyframes main-nav {
  0% {
    transform: translateX(150rem) rotate(1800deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

.header__main-nav--hamburger > div {
  position: relative;
  height: 0.3rem;
  width: 100%;
  background-color: var(--color-quartenary);

  display: grid;
  place-items: center;
  transition: all var(--transition-duration) ease-in-out;
}

.header__main-nav--hamburger > div::after,
.header__main-nav--hamburger > div::before {
  content: "";
  height: inherit;
  width: 60%;
  position: absolute;
  background-color: inherit;
  z-index: inherit;
}

.header__main-nav--hamburger > div::after {
  right: 0;
  top: 1rem;
}

.header__main-nav--hamburger > div::before {
  top: -1rem;
  left: 0;
}

.header__main-nav input[type="checkbox"]:checked + .header__main-nav--hamburger > div {
  transform: rotate(135deg);
}

.header__main-nav input[type="checkbox"]:checked + .header__main-nav--hamburger > div::after {
  opacity: 0;
}

.header__main-nav input[type="checkbox"]:checked + .header__main-nav--hamburger > div::before {
  left: 0;
  top: 0;
  width: 100%;
  transform: rotate(270deg);
}

.header__main-nav input[type="checkbox"]:checked:hover + .header__main-nav--hamburger > div {
  transform: rotate(405deg);
}

.header__main-nav--menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  visibility: hidden;

  display: grid;
  place-items: center;
}

.header__main-nav--menu > div {
  background-color: var(--color-secondary-m-dark);
  width: 200%;
  height: 200%;
  display: grid;
  place-items: center;

  transition: all var(--transition-duration) ease-in-out;
  transform: scaleX(0);
}

.header__main-nav--menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  text-align: center;

  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.header__main-nav input[type="checkbox"]:checked ~ .header__main-nav--menu {
  visibility: visible;
}

.header__main-nav input[type="checkbox"]:checked ~ .header__main-nav--menu > div {
  transform: scaleX(1);
  /* transition-duration: 0.5s; */
}

.header__main-nav input[type="checkbox"]:checked ~ .header__main-nav--menu > div > div {
  opacity: 1;
}

.header__main-nav--menu ul li a:link,
.header__main-nav--menu ul li a:visited {
  z-index: 5;
  font-size: calc(1.5rem + 0.5vw);
}

.header__main-nav--menu ul li a:link::before,
.header__main-nav--menu ul li a:visited::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scaleY(0);
  background-color: var(--color-primary-m-dark);
  transition: transform var(--transition-duration) ease-in-out;
}

.header__main-nav--menu li a:hover::before,
.header__main-nav--menu li a:active::before {
  transform: scaleY(1);
}

.header__logo__content {
  display: grid;
  grid-template-columns: 1fr minmax(30rem, 1fr) 1fr;
  grid-template-rows: min-content;
  height: 90%;
  justify-items: center;
}

.header__logo__content--logo {
  grid-column: 2 / 3;
  letter-spacing: 0.2rem;
}

.header__logo__content--logo span {
  color: var(--color-tertiary);
  font-size: 3rem;
  font-family: "Times New Roman", "Times New Roman", Times, serif;
}

.header__logo__content--content {
  grid-column: 1 / -1;
  align-self: center;
}

.header__logo__content--content__title {
  padding: 0 2rem 0 var(--font-size-title);
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: calc(4rem + 4vw);
}

.header__logo__content--content__para {
  font-size: calc(1rem + 2vw);
  font-weight: 500;
  padding: 2vh 2rem 6vh var(--font-size-title);
}

.header__logo__content--content__link:visited,
.header__logo__content--content__link:link {
  margin-left: var(--font-size-title);
  border: 0.2rem solid var(--color-tertiary);
}

.header__logo__content--content__link:visited::before,
.header__logo__content--content__link:link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
  z-index: -1;
  transform: scaleX(0);
}

.header__logo__content--content__link:hover::before,
.header__logo__content--content__link:active::before {
  transform: scaleX(1);
}

section#booking-content {
  grid-column: center-start / col-end 6;
  padding: var(--padding-section);
  display: grid;
  grid-template-rows: repeat(3, max-content);
}

.booking-content__title {
  font-size: var(--font-size-title);
  padding: 0 2rem 1rem;
  font-weight: 300;
  position: relative;
}

.booking-content__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  height: 0.2rem;
  width: 30%;
  background-color: var(--color-secondary);
}

.booking-content__para {
  padding: 2rem;
}

section#booking-content p,
.booking-date__contact p {
  color: var(--color-primary);
}

.booking-content__icons {
  margin-left: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.booking-content__icons--weather,
.booking-content__icons--time {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 10vh;
  justify-items: start;
  align-items: center;
}

section#booking-date {
  grid-column: col-start 7 / center-end;
  padding: var(--padding-section);

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3rem;
  /* place-items: center; */
}

.booking-date__schedule {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2vw;
  place-items: center;
}

.booking-date__schedule--guests,
.booking-date__schedule--departure,
.booking-date__schedule--arrival {
  display: grid;
  row-gap: 3vh;
}

.booking-date__schedule--guests h5,
.booking-date__schedule--departure h5,
.booking-date__schedule--arrival h5 {
  text-align: center;
  font-size: calc(1rem + 1vw);
}

.booking-date__schedule--guests div,
.booking-date__schedule--departure div,
.booking-date__schedule--arrival div {
  padding: 2rem 4rem;
  background-color: var(--color-secondary);
  position: relative;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}

.booking-date__schedule--guests div::before,
.booking-date__schedule--departure div::before,
.booking-date__schedule--arrival div::before {
  content: "";
  border-style: solid;
  border-width: 1.5rem;
  margin-left: -1.5rem;
  border-color: transparent transparent var(--color-secondary);
  position: absolute;
  bottom: 100%;
  left: 50%;
}

.booking-date__schedule--guests div p:nth-of-type(2),
.booking-date__schedule--departure div p:nth-of-type(2),
.booking-date__schedule--arrival div p:nth-of-type(2) {
  font-size: 3rem;
  font-weight: 700;
}

.booking-date__schedule__contact {
  align-self: end;
}

.booking-date__contact--link:link,
.booking-date__contact--link:visited {
  background-color: var(--color-secondary);
  color: white;
  transition: all var(--transition-duration) ease-in-out;
}

.booking-date__contact--link:hover,
.booking-date__contact--link:active {
  color: var(--color-secondary);
  background-color: white;
  border: 0.1rem solid var(--color-secondary);
}

.booking-date__contact p:first-of-type {
  margin-top: 4rem;
}

.booking-date__contact p:first-of-type,
.booking-date__contact p:nth-of-type(2),
.booking-date__contact p:nth-of-type(3) {
  font-size: 2rem;
}
section#villas {
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2rem;
}

div[class^="villas"] {
  padding: 2rem;
  background-position: center;
  background-size: cover;
  transition: transform var(--transition-duration) ease-in-out;
}

section#motto {
  background-color: var(--color-secondary-m-dark);
  grid-column: container-start / container-end;
}

div[class^="villas"]:hover,
div[class^="villas"]:active {
  transform: scale(1.05);
}

div[class^="villas"] h2[class^="villas"] {
  font-size: var(--font-size-title);
  padding: 0 2rem 1rem 0;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

div[class^="villas"] p[class^="villas"] {
  font-size: 2rem;
  margin: 1.5rem 0 4rem 0;
  color: white;
  font-weight: 500;
}

div[class^="villas"] a[class^="villas"]:link,
div[class^="villas"] a[class^="villas"]:visited {
  display: inline-block;
  background-color: white;
  color: var(--color-primary);
  z-index: 2;
  position: relative;
  overflow: hidden;
}

div[class^="villas"] a[class^="villas"]:hover,
div[class^="villas"] a[class^="villas"]:active {
  color: white;
}

div[class^="villas"] a[class^="villas"]:link::before,
div[class^="villas"] a[class^="villas"]:visited::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: var(--color-secondary);
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: height var(--transition-duration) ease-in-out;

  transform: translate(-50%, -50%) rotate(45deg);
}

div[class^="villas"]:nth-child(2n) a[class^="villas"]:link::before,
div[class^="villas"]:nth-child(2n) a[class^="villas"]:visited::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

div[class^="villas"] a[class^="villas"]:hover::before,
div[class^="villas"] a[class^="villas"]:active::before {
  height: 400%;
}

.villas__villa-1 {
  background: linear-gradient(var(--color-primary-m-light), var(--color-tertiary-m-light)), url("img/Villas/villa-1.jpg");
}

.villas__villa-2 {
  background: linear-gradient(var(--color-primary-m-light), var(--color-tertiary-m-dark)), url("img/Villas/villa-2.jpg");
}

.villas__villa-3 {
  background: linear-gradient(var(--color-primary-m-light), var(--color-tertiary-m-dark)), url("img/Villas/villa-3.jpg");
}

.villas__villa-4 {
  background: linear-gradient(var(--color-primary-m-light), var(--color-tertiary-m-dark)), url("img/Villas/villa-4.jpg");
}
.villas__villa-5 {
  background: linear-gradient(var(--color-primary-m-light), var(--color-tertiary-m-dark)), url("img/Villas/villa-5.jpg");
}
.villas__villa-6 {
  background: linear-gradient(var(--color-primary-m-light), var(--color-tertiary-m-dark)), url("img/Villas/villa-6.jpg");
}

section#motto {
  background-color: var(--color-primary);
  grid-column: container-start / container-end;

  padding: 10vh 3vw;
}

section#events-content {
  background-color: var(--color-tertiary-m-light);
  grid-column: container-start / col-end 9;
}

.motto__content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.motto__content--title {
  font-size: var(--font-size-title);
  padding: 0 2rem 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: white;
  text-transform: uppercase;
  position: relative;
}

.motto__content--title::after {
  content: "";
  position: absolute;
  left: 45%;
  bottom: 0;
  width: 10%;
  height: 0.2rem;
  background-color: white;
}

section#events-content {
  grid-column: container-start / col-end 9;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section#events-content > div {
  padding: var(--padding-section);
  display: grid;

  grid-template-areas:
    "title"
    "para";

  row-gap: 4vh;
  align-items: center;
  justify-items: start;
}

section#events-content > div:first-child {
  background: linear-gradient(var(--color-tertiary-m-light), var(--color-tertiary-m-light)), url("img/Events/beach-party.jpg");
  border-right: solid 0.2rem var(--color-tertiary);
}

section#events-content > div:last-child {
  background: linear-gradient(var(--color-tertiary-m-light), var(--color-tertiary-m-light)), url("img/Events/culture-discovery.jpg");
  border-left: solid 0.2rem var(--color-tertiary);
}

section#events-content > div:first-child,
section#events-content > div:last-child {
  background-position: center;
  background-size: cover;
}
section#events-content > div h2[class*="title"] {
  grid-area: title;
  font-size: var(--font-size-title);
  font-weight: 400;
  color: white;
}

section#events-content > div p[class*="para"] {
  grid-area: para;
}

section#events-text {
  grid-column: col-start 10 / center-end;
  background-color: var(--color-tertiary);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.events-text__content {
  transform: rotate(90deg);
}

.events-text__content--title,
.gallery-text__content--title {
  color: white;
  font-weight: 500;
  font-size: var(--font-size-title);
  letter-spacing: 0.2rem;
}

section#gallery-text {
  background-color: var(--color-primary);
  grid-column: center-start / col-end 1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.gallery-text__content {
  transform: rotate(-90deg);
}

section#gallery-carousel {
  grid-column: col-start 2 / container-end;
  height: 90vh;
  overflow: hidden;
  border: solid 0.2rem var(--color-secondary);
  position: relative;
}

div.gallery-carousel__img-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.gallery-carousel__img-container--list {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform var(--transition-duration) ease-in-out;
}

.gallery-carousel__img-container--list__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-carousel__img-container--list__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.gallery-carousel__btn--right {
  right: 0;
}

.gallery-carousel__nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 5%;
  transform: translateX(-50%);
  margin-bottom: 1rem;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 3rem;
}

.gallery-carousel__nav--btn {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
  border: none;
  cursor: pointer;
}

.current--img {
  background-color: var(--color-primary);
}

.hidden {
  display: none;
}


section#features-content {
  background-color: var(--color-tertiary);
  grid-column: center-start / col-end 9;
}

section#features-text {
  background-color: var(--color-quartenary);
  grid-column: col-start 10 / center-end;
}

section#testimonials {
  background-color: var(--color-secondary);
  grid-column: center-start / center-end;
}

footer#footer {
  background-color: var(--color-primary);
  grid-column: container-start / container-end;
}

/************************** 1000 px screen and below ***************************/
@media screen and (max-width: 1000px) {
  a:link,
  a:visited {
    font-size: calc(1rem + 1vw);
  }
}

/************************** 800 px screen and below ***************************/
@media screen and (max-width: 800px) {
  section#booking-content {
    padding: 4vh 3vw;
    grid-column: center-start / center-end;
  }

  section#booking-date {
    padding: 4vh 3vw;
    grid-column: center-start / center-end;
    row-gap: 7vh;
  }

  .booking-content__title {
    text-align: center;
  }

  .booking-content__title::after {
    left: 40%;
    width: 20%;
  }

  .booking-date__schedule--guests div,
  .booking-date__schedule--departure div,
  .booking-date__schedule--arrival div {
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    column-gap: 2vw;
    place-items: center;
  }

  section#villas {
    grid-gap: 0;
  }
}

/************************** 600 px screen and below ***************************/

@media screen and (max-width: 600px) {
  .header__logo__content--content__para {
    font-size: 2rem;
  }

  section#booking-date {
    grid-template-rows: repeat(2, max-content);
  }

  .booking-date__schedule--guests div,
  .booking-date__schedule--departure div,
  .booking-date__schedule--arrival div {
    grid-template-columns: min-content;
    padding: 4rem;
  }

  div[class^="villas"] p[class^="villas"] {
    margin: 1.5rem 0 4rem 0;
  }

  div[class^="villas"] p[class^="villas"],
  section#events-content > div p[class*="para"],
  section#features-content > div p[class*="para"],
  .motto__content--para,
  .booking-content__para {
    font-size: 1.5rem;
  }

  section#events-content > div:first-child,
  section#events-content > div:last-child,
  section#features-content > div:first-child,
  section#features-content > div:last-child {
    border: none;
  }

  section#gallery-text,
  section#events-text,
  section#features-text {
    display: none;
  }

  section#events-content {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  section#events-content,
  section#gallery-carousel,
  section#features-content {
    grid-column: center-start / center-end;
  }

  .corousel__btn i {
    font-size: 5rem;
  }

  .corousel__nav {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap : 3vh;
    grid-column-gap: 8vw;
    height: 12%;
  }
}

/************************** 400 px screen and below ***************************/
@media screen and (max-width: 400px) {
  .booking-date__schedule {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
    row-gap: 4vh;
  }

  .booking-date__contact {
    justify-self: center;
    padding: 0 2rem;
  }

  section#villas {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
